apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-erqkypcg
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-erqkypcg:8c4c21ca83d7a1c55f58f045ba337ddadf8cef07@sha256:74b592ae7e985b0e5fbaac97045a2418d6e8df1ae77603d8539ad8db44662bfc
          name: container-image
